*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures

/app/app-release.apk
/library/build
/fragmentation/build
/app/build
/multi-image-selector/build
/RefreshLayout/build
/build


# IDEA


.idea
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries


.idea/
app/
build.gradle
fragmentation/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
